body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: hsl(219, 48%, 8%);
  height: 1000px;
}
body::-webkit-scrollbar {
  height: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
